body {
    font-family: "Lato", sans-serif;
    padding: 20px;
}

.header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.header img {
    vertical-align: middle;
    width: 150px;
    height: 150px;
}

.header h1 {
    padding-top: 50px;
}

.content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 150px);
}
.access-content {
    width: 35%%;
}

.access-content .card {
    margin-bottom: 20px;
}

.access-content form > * {
    margin-bottom: 20px;
}

.access-content h1{
    text-align: center;
}